.actorCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  height: 300px;
  color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.actorCard:hover {
  transform: scale(1.05);
}

.actorName {
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
